body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    min-width: 40em;
}

.head {
    display: block;
    width: calc(100% - 3em);
    border: 2px solid;
    padding: 0 1em 1em 2em;
    justify-items: center;
}

.head p {
    text-indent: -1em;
    display: block;
    text-align: justify;
    max-width: 40em;
    margin: 1em auto;
    padding: 0 2em 0 7em;
}

.head h2 {
    text-align: center;
}

.container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 15em;
    border: 2px solid;
}

.left {
    display: inline-block;
    position: absolute;
    height: calc(100% - 4px);
    width: 30%;
    border: 2px solid;
}

.left ul {
    margin: 1em auto 0;
    padding-right: 1em;
}
.left li {
    list-style: none;
    margin: 1em 0;
}

.left a {
    text-decoration: none;
} 

.content {
    display: blok;
    position: relative;
    text-align: center;
    width: calc(70% - 4px);
    margin-left: calc(30% + 2px);
    border: 2px solid;
    min-height: 15em;
}

#message {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    left: 0;
    top: 0;
    color: rgb(0, 0, 0);
    transition: all cubic-bezier(0.2, 0.01, 0.82, 0.23) 1s;
    z-index: 2020;
}

#message.error {
    background: red;
}

#message.succes {
    background: greenyellow;
}

.content .placeholder {
    display: block;
}

.content input {
    display: block;
    margin: 1em auto;
    text-align: center;
}

.content .submit {
    display: block;
    margin:  3em auto 1em auto;
    text-align: center;
}


.footer {
    display: block;
    width: 100%;
    border: 2px solid;
}

.footer p{
    text-align: center;
}